
<section class="text-center pb-3 my-5">

 
  <div class="row">

    
    <div class="col-lg-3 col-md-6 mb-4">

      
      <mdb-card class="align-items-center">

        
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://logos.textgiraffe.com/logos/logo-name/Parley-designstyle-birthday-m.png" alt=""></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        

        
        <mdb-card-body class="text-center">
          
          <a href="" class="grey-text">
            <h5>my</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">cookies
                <mdb-badge pill="true" danger="true">NEW</mdb-badge>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
          </h4>

        </mdb-card-body>
       

      </mdb-card>
      

    </div>
    
    <div class="col-lg-3 col-md-6 mb-4">

     
      <mdb-card class="align-items-center">

        
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://images.assettype.com/afaqs/import/all/news/images/news_story_grfx/2018/08/53423/old.jpg" alt=""></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        

        <mdb-card-body class="text-center">
          
          <a href="" class="grey-text">
            <h5>other</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">cookies</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>139$</strong>
          </h4>

        </mdb-card-body>
        

      </mdb-card>
      

    </div>
    
    <div class="col-lg-3 col-md-6 mb-4">

      
      <mdb-card class="align-items-center">

        
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://logos.textgiraffe.com/logos/logo-name/Parley-designstyle-birthday-m.png" class="img-fluid"
            alt=""></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        


        <mdb-card-body class="text-center">
         
          <a href="" class="grey-text">
            <h5>choco</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">cookies
                <mdb-badge pill="true" primary="true">Bestseller</mdb-badge>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>99$</strong>
          </h4>

        </mdb-card-body>
        

      </mdb-card>
      

    </div>
    


    <div class="col-lg-3 col-md-6 mb-4">

     
      <mdb-card class="align-items-center">

        
        <div class="view overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="https://logos.textgiraffe.com/logos/logo-name/Parley-designstyle-birthday-m.png" alt=""></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        


        <mdb-card-body class="text-center">
          
          <a href="" class="grey-text">
            <h5>Favorite</h5>
          </a>
          <h5>
            <strong>
              <a href="" class="dark-grey-text">cookie</a>
            </strong>
          </h5>

          <h4 class="font-weight-bold blue-text">
            <strong>219$</strong>
          </h4>

        </mdb-card-body>
        

      </mdb-card>
      

    </div>
    

  </div>
  

</section>
